{% extends "base.html" %}
{% block title %}Chat-Analysis{% endblock %}

{% block content %}
    <h3>Chat Log</h3>
    <div id="chatlog-content">
        {% if chat_log_history_record %}
        <p>{{chat_log_history_record}}</p>
        {% endif %}
        <br>
    </div>
    <br><br>
    <!--Typing field form-->
    <footer id="footer" style="width:100%">
        <form action="{{ url_for('chat_session', session_number = session_number) }}" method="POST">
            <label>Enter message:</label>
            <input type="text" name="chat-message" id="chat-message" style="width:50%">
            <input type="submit" name="next" value="Next">
        </form>
    </footer>
{% endblock %}